{% extends "base.html" %}
{% block content %}
<form method="POST" action="/directions">
    {% csrf-field %}
    <p>
        Origin:
        <input class="form-control"
               type="text"
               name="start"
               value="{{start}}" />
    </p>
    {% if errors.start %}
    <div class="alert alert-danger">{{errors.start|join}}</div>
    {% endif %}
    <p>
        Destination:
        <input class="form-control"
               type="text"
               name="dest"
               value="{{dest}}" />
    </p>
    {% if errors.dest %}
    <div class="alert alert-danger">{{errors.dest|join}}</div>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Get directions" />
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Directions from {{start}} to {{dest}}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in directions %}
        <tr>
            <td>{{item}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
