<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to direcljions</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/all.css" %}

    {% style "/css/screen.css" %}

    <style>
     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
         height: 100%;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
         height: 100%;
         margin: 0;
         padding: 0;
     }
    </style>

  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-dark bg-primary navbar-expand-md" role="navigation">
          <button class="navbar-toggler hidden-sm-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsing-navbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">direcljions</a>
          <div class="collapse navbar-collapse" id="collapsing-navbar">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="/directions"
                         class="nav-link active">
                      directions
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="/about"
                         class="nav-link">
                      about
                      </a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container">
          <form method="POST" action="/directions">
              {% csrf-field %}
              <p>
                  Origin:
                  <input class="form-control"
                         type="text"
                         name="start"
                         value="{{start}}" />
              </p>
              {% if errors.start %}
              <div class="alert alert-danger">{{errors.start|join}}</div>
              {% endif %}
              <p>
                  Destination:
                  <input class="form-control"
                         type="text"
                         name="dest"
                         value="{{dest}}" />
              </p>
              {% if errors.dest %}
              <div class="alert alert-danger">{{errors.dest|join}}</div>
              {% endif %}
              <input type="submit" class="btn btn-primary" value="Get directions" />
          </form>
          {% if all start|not-empty dest|not-empty %}
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Directions from "{{start}}" to "{{dest}}"</th>
                  </tr>
              </thead>
              <tbody>
                  {% for step in directions %}
                  <tr>
                      <td>{{step|safe}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
      <div id="map"></div>
      <script>
       function initMap() {
           var directionsService = new google.maps.DirectionsService;
           var directionsDisplay = new google.maps.DirectionsRenderer;
           var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 12,
               center: {lat: 33.7547992, lng: -84.3966936}
           });
           var origin = '{{start}}';
           var destination = '{{dest}}';
           directionsDisplay.setMap(map);
           if (origin && destination) {
               directionsService.route({
                   origin: origin,
                   destination: destination,
                   travelMode: 'DRIVING'
               }, function(response, status) {
                   if (status === 'OK') {
                       directionsDisplay.setDirections(response);
                   } else {
                       window.alert('Directions request failed due to ' + status);
                   }
               });
           }
       }
      </script>
      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap">
      </script>
  </body>
</html>
